apache-airflow-providers-databricks==7.16.0
apache-airflow-providers-dbt-cloud==4.9.3
apache-airflow-providers-standard==1.16.0
azure-storage-blob==12.30.0
confluent-kafka==2.11.0
holidays==0.77
paramiko==3.5.1
